<!DOCTYPE html>
<html>

<head>
    <title>{{subject}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 600px;
            background: white;
            padding: 20px;
            border-radius: 5px;
            margin: auto;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Hello, Admin!</h1>
        <p>Weekly reporyt of job portal</p>

        <table>
            <thead>
                <tr>
                    <th>Portal ID</th>
                    <th>Portal Name</th>
                    <th>Total jobsposted</th>
                    <th>Jobs last week</th>
                    <th>Active jobs</th>
                </tr>
            </thead>
            <tbody>
                {{#each tableData}}
                <tr>
                    <td>{{portal_id}}</td>
                    <td>{{portal_name}}</td>
                    <td>{{total_jobs_posted}}</td>
                    <td>{{jobs_last_week}}</td>
                    <td>{{activejobs}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>